In [3]:
import pandas as pd

In [25]:
student = pd.read_csv('student.csv')
student

    Unnamed: 0  student_id student_name  house  year
0            0         101           리안   래번클로     6
1            1         102          엘라라   후플푸프     5
2            2         103           카이  그리핀도르     2
3            3         104          셀레네   래번클로     4
4            4         105          아리온   래번클로     6
5            5         106           루나   후플푸프     6
6            6         107            핀  그리핀도르     2
7            7         108          헥토르  그리핀도르     4
8            8         109           벨라   래번클로     5
9            9         110           이안   슬리데린     1
10          10         111           노아   래번클로     4
11          11         112          클로에   래번클로     2
12          12         113           레오   래번클로     6
13          13         114           릴리   래번클로     5
14          14         115          제이크   후플푸프     4
15          15         116          소피아  그리핀도르     1
16          16         117           에단   후플푸프     1
17          17         118           미아   후플푸프     3
18          18         119          올리버   후플푸프     3
19          19         120         아멜리아   래번클로     7

In [26]:
point = pd.read_csv('point.csv')
point

    Unnamed: 0  log_id  student_id     subject  points
0            0       1         110      마법의 역사      10
1            1       2         116  어둠의 마법 방어술      10
2            2       3         115         마법약      10
3            3       4         115         약초학     -10
4            4       5         119         약초학       5
5            5       6         112         약초학      -5
6            6       7         120      마법의 역사     -15
7            7       8         103         마법약      10
8            8       9         105      마법의 역사       5
9            9      10         119      마법의 역사      15
10          10      11         107         마법약      10
11          11      12         109         마법약      10
12          12      13         107         마법약       5
13          13      14         118         마법약      10
14          14      15         104         약초학     -15
15          15      16         114         변신술      20
16          16      17         118         변신술     -10
17          17      18         109         마법약     -15
18          18      19         102         변신술      20
19          19      20         120         변신술      10
20          20      21         115         마법약     -15
21          21      22         107         변신술      -5
22          22      23         112      마법의 역사      20
23          23      24         108  어둠의 마법 방어술     -15
24          24      25         115  어둠의 마법 방어술       5
25          25      26         103         마법약      10
26          26      27         114         약초학      10
27          27      28         117         마법약       5
28          28      29         104         약초학      20
29          29      30         118  어둠의 마법 방어술     -15
30          30      31         108         마법약      10
31          31      32         104         천문학      -5
32          32      33         102      마법의 역사       5
33          33      34         106         변신술      10
34          34      35         110         약초학      10
35          35      36         104         천문학       5
36          36      37         118         변신술     -15
37          37      38         112         변신술       5
38          38      39         102         마법약      -5
39          39      40         110         변신술      15
40          40      41         104      마법의 역사       5
41          41      42         114         천문학     -20
42          42      43         116         변신술     -20
43          43      44         115         마법약       5
44          44      45         108      마법의 역사      -5
45          45      46         114  어둠의 마법 방어술       5
46          46      47         108         천문학       5
47          47      48         116         변신술      10
48          48      49         113         마법약     -10
49          49      50         118  어둠의 마법 방어술      -5

# 1. 데이터 결합과 변환을 연습해봅시다!

## 다음은 호그와트의 학생 명부와 점수 데이터입니다. 두 데이터를 합쳐서 데이터를 분석해봅시다.

In [27]:
final = pd.merge(point, student, on='student_id', how='left').drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'])

In [28]:
final.head()

   log_id  student_id     subject  points student_name  house  year
0       1         110      마법의 역사      10           이안   슬리데린     1
1       2         116  어둠의 마법 방어술      10          소피아  그리핀도르     1
2       3         115         마법약      10          제이크   후플푸프     4
3       4         115         약초학     -10          제이크   후플푸프     4
4       5         119         약초학       5          올리버   후플푸프     3

In [29]:
final.describe()

         log_id  student_id     points       year
count  50.00000   50.000000  50.000000  50.000000
mean   25.50000  111.140000   2.100000   3.540000
std    14.57738    5.606156  11.387874   1.631451
min     1.00000  102.000000 -20.000000   1.000000
25%    13.25000  107.000000  -5.000000   2.000000
50%    25.50000  112.000000   5.000000   4.000000
75%    37.75000  115.750000  10.000000   5.000000
max    50.00000  120.000000  20.000000   7.000000

In [30]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   log_id        50 non-null     int64
 1   student_id    50 non-null     int64
 2   subject       50 non-null     object
 3   points        50 non-null     int64
 4   student_name  50 non-null     object
 5   house         50 non-null     object
 6   year          50 non-null     int64
dtypes: int64(4), object(3)
memory usage: 3.1+ KB

## 기숙사별 총점을 계산해서 어느 기숙사가 앞서고 있는지 확인합니다.

In [31]:
final['house'].unique()

array(['슬리데린', '그리핀도르', '후플푸프', '래번클로'], dtype=object)

In [33]:
final.groupby('house')['points'].sum().sort_values(ascending=False)

house
슬리데린     35
래번클로     30
그리핀도르    25
후플푸프     15
Name: points, dtype: int64

In [35]:
final.groupby('house')['points'].sum().reset_index().sort_values(by='points', ascending=False)

   house  points
2   슬리데린      35
1   래번클로      30
0  그리핀도르      25
3   후플푸프      15

### 어떤 과목에서 주로 점수를 얻었는지 과목별 점수 총합을 구해봅시다.

In [36]:
final.groupby('subject')['points'].sum().reset_index().sort_values(by='points', ascending=False)

      subject  points
0         마법약      40
1      마법의 역사      40
2         변신술      40
3         약초학      15
4  어둠의 마법 방어술     -15
5         천문학     -15

### 각 기숙사별로 강한 과목이 있을까요? 피벗 테이블을 사용해서 각 기숙사가 어떤 과목에 강하고 약한지 파악해봅시다.

In [39]:
pd.pivot_table(final, index='house', columns='subject', values='points')

subject       마법약  마법의 역사        변신술   약초학  어둠의 마법 방어술       천문학
house
그리핀도르    9.000000   -5.00  -5.000000   NaN        -2.5  5.000000
래번클로    -5.000000    3.75  11.666667   2.5         5.0 -6.666667
슬리데린          NaN   10.00  15.000000  10.0         NaN       NaN
후플푸프     1.666667   10.00   1.250000  -2.5        -5.0       NaN

In [53]:
final.pivot_table(
    index='house',
    columns='subject',
    values='points',
    aggfunc='mean'
)

subject       마법약  마법의 역사        변신술   약초학  어둠의 마법 방어술       천문학
house
그리핀도르    9.000000   -5.00  -5.000000   NaN        -2.5  5.000000
래번클로    -5.000000    3.75  11.666667   2.5         5.0 -6.666667
슬리데린          NaN   10.00  15.000000  10.0         NaN       NaN
후플푸프     1.666667   10.00   1.250000  -2.5        -5.0       NaN

### 또 어떤 관점에서 데이터를 분석할 수 있을까요? 여러분만의 인사이트를 발견해봅시다!

In [41]:
#'house'별 'year'별 점수
pd.pivot_table(final, index=['house','year'], columns='subject', values='points')

subject       마법약  마법의 역사   변신술   약초학  어둠의 마법 방어술   천문학
house year
그리핀도르 1       NaN     NaN  -5.0   NaN        10.0   NaN
      2      8.75     NaN  -5.0   NaN         NaN   NaN
      4     10.00    -5.0   NaN   NaN       -15.0   5.0
래번클로  2       NaN    20.0   5.0  -5.0         NaN   NaN
      4       NaN     5.0   NaN   2.5         NaN   0.0
      5     -2.50     NaN  20.0  10.0         5.0 -20.0
      6    -10.00     5.0   NaN   NaN         NaN   NaN
      7       NaN   -15.0  10.0   NaN         NaN   NaN
슬리데린  1       NaN    10.0  15.0  10.0         NaN   NaN
후플푸프  1      5.00     NaN   NaN   NaN         NaN   NaN
      3     10.00    15.0 -12.5   5.0       -10.0   NaN
      4      0.00     NaN   NaN -10.0         5.0   NaN
      5     -5.00     5.0  20.0   NaN         NaN   NaN
      6       NaN     NaN  10.0   NaN         NaN   NaN

In [42]:
#'house'별 'student_name'별 점수
pd.pivot_table(final, index=['house','student_name'], columns='subject', values='points')

subject              마법약  마법의 역사   변신술   약초학  어둠의 마법 방어술   천문학
house student_name
그리핀도르 소피아            NaN     NaN  -5.0   NaN        10.0   NaN
      카이            10.0     NaN   NaN   NaN         NaN   NaN
      핀              7.5     NaN  -5.0   NaN         NaN   NaN
      헥토르           10.0    -5.0   NaN   NaN       -15.0   5.0
래번클로  레오           -10.0     NaN   NaN   NaN         NaN   NaN
      릴리             NaN     NaN  20.0  10.0         5.0 -20.0
      벨라            -2.5     NaN   NaN   NaN         NaN   NaN
      셀레네            NaN     5.0   NaN   2.5         NaN   0.0
      아리온            NaN     5.0   NaN   NaN         NaN   NaN
      아멜리아           NaN   -15.0  10.0   NaN         NaN   NaN
      클로에            NaN    20.0   5.0  -5.0         NaN   NaN
슬리데린  이안             NaN    10.0  15.0  10.0         NaN   NaN
후플푸프  루나             NaN     NaN  10.0   NaN         NaN   NaN
      미아            10.0     NaN -12.5   NaN       -10.0   NaN
      에단             5.0     NaN   NaN   NaN         NaN   NaN
      엘라라           -5.0     5.0  20.0   NaN         NaN   NaN
      올리버            NaN    15.0   NaN   5.0         NaN   NaN
      제이크            0.0     NaN   NaN -10.0         5.0   NaN

### 과목별 난이도

In [49]:
final.groupby('subject')['points'].std().sort_values(ascending=False)
#표준편차가 클수록 학생 실력 차이 혹은 과목/시험 난이도가 높음

subject
변신술           13.980506
약초학           12.535663
천문학           11.814539
마법의 역사        11.019463
어둠의 마법 방어술    10.839742
마법약            9.749613
Name: points, dtype: float64

In [54]:
final.groupby('subject')['points'].mean().sort_values(ascending=False)

subject
마법의 역사        5.000000
변신술           3.636364
마법약           2.857143
약초학           2.142857
어둠의 마법 방어술   -2.500000
천문학          -3.750000
Name: points, dtype: float64

In [55]:
final.groupby('subject')['points'].median().sort_values(ascending=False)

subject
변신술           10.0
마법약            7.5
마법의 역사         5.0
약초학            5.0
어둠의 마법 방어술     0.0
천문학            0.0
Name: points, dtype: float64

In [51]:
final.groupby(['year', 'subject'])['points'].std().reset_index().sort_values(by='points', ascending=False)

    year     subject     points
2      1         변신술  18.929694
16     4         약초학  18.929694
17     4  어둠의 마법 방어술  14.142136
19     5         마법약  12.583057
14     4         마법약  11.902381
7      2         변신술   7.071068
13     3  어둠의 마법 방어술   7.071068
15     4      마법의 역사   7.071068
18     4         천문학   5.773503
11     3         변신술   3.535534
5      2         마법약   2.500000
21     5         변신술   0.000000
0      1         마법약        NaN
1      1      마법의 역사        NaN
3      1         약초학        NaN
4      1  어둠의 마법 방어술        NaN
6      2      마법의 역사        NaN
8      2         약초학        NaN
9      3         마법약        NaN
10     3      마법의 역사        NaN
12     3         약초학        NaN
20     5      마법의 역사        NaN
22     5         약초학        NaN
23     5  어둠의 마법 방어술        NaN
24     5         천문학        NaN
25     6         마법약        NaN
26     6      마법의 역사        NaN
27     6         변신술        NaN
28     7      마법의 역사        NaN
29     7         변신술        NaN